In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm 
import seaborn as sns
from sklearn.metrics import accuracy_score as asc

In [38]:
multi_reg_df = pd.read_csv("knocked_data.csv")
multi_reg_df.head()

     X1     X2     X3      X4   X5   X6   X7   X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0  2.0  0.0  0.0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0  3.0  0.0  0.0  15.55  21.33
2  0.98  514.5    NaN  110.25  7.0  4.0  0.0  NaN  15.55  21.33
3  0.98  514.5  294.0     NaN  7.0  5.0  0.0  0.0  15.55  21.33
4  0.90  563.5  318.5     NaN  7.0  2.0  0.0  0.0  20.84  28.28

# Imputation by using mean

In [49]:
X1 = multi_reg_df.drop(['X2','X3','X4','X5','X6','X7','X8','Y2','Y1'],axis=1)
X2 = multi_reg_df.drop(['X1','X3','X4','X5','X6','X7','X8','Y2','Y1'],axis=1)
X3 = multi_reg_df.drop(['X2','X1','X4','X5','X6','X7','X8','Y2','Y1'],axis=1)
X4 = multi_reg_df.drop(['X2','X3','X1','X5','X6','X7','X8','Y2','Y1'],axis=1)
X5 = multi_reg_df.drop(['X2','X3','X4','X1','X6','X7','X8','Y2','Y1'],axis=1)
X6 = multi_reg_df.drop(['X2','X3','X4','X5','X1','X7','X8','Y2','Y1'],axis=1)
X7 = multi_reg_df.drop(['X2','X3','X4','X5','X6','X1','X8','Y2','Y1'],axis=1)
X8 = multi_reg_df.drop(['X2','X3','X4','X5','X6','X7','X1','Y2','Y1'],axis=1)

In [50]:
X1.X1[X1.X1.isnull()]= X1.X1.mean()
X2.X2[X2.X2.isnull()]= X2.X2.mean()
X3.X3[X3.X3.isnull()]= X3.X3.mean()
X4.X4[X4.X4.isnull()]= X4.X4.mean()
X5.X5[X5.X5.isnull()]= X5.X5.mean()
X6.X6[X6.X6.isnull()]= X6.X6.mean()
X7.X7[X7.X7.isnull()]= X7.X7.mean()
X8.X8[X8.X8.isnull()]= X8.X8.mean()

In [52]:
from sklearn.metrics import r2_score
df1 = pd.read_excel('ENB2012_data.xlsx')
print(r2_score(df1.X1,X1))
print(r2_score(df1.X2,X2))
print(r2_score(df1.X3,X3))
print(r2_score(df1.X4,X4))
print(r2_score(df1.X5,X5))
print(r2_score(df1.X6,X6))
print(r2_score(df1.X7,X7))
print(r2_score(df1.X8,X8))

0.8996299660660224
0.9126095767671759
0.9044357262383216
0.9000185099959066
0.8997356046628033
0.8996918900088869
0.8977519991665626
0.8907218765934636

# Imputation by using median

In [55]:
X1_med = multi_reg_df.drop(['X2','X3','X4','X5','X6','X7','X8','Y2','Y1'],axis=1)
X2_med = multi_reg_df.drop(['X1','X3','X4','X5','X6','X7','X8','Y2','Y1'],axis=1)
X3_med = multi_reg_df.drop(['X2','X1','X4','X5','X6','X7','X8','Y2','Y1'],axis=1)
X4_med = multi_reg_df.drop(['X2','X3','X1','X5','X6','X7','X8','Y2','Y1'],axis=1)
X5_med = multi_reg_df.drop(['X2','X3','X4','X1','X6','X7','X8','Y2','Y1'],axis=1)
X6_med = multi_reg_df.drop(['X2','X3','X4','X5','X1','X7','X8','Y2','Y1'],axis=1)
X7_med = multi_reg_df.drop(['X2','X3','X4','X5','X6','X1','X8','Y2','Y1'],axis=1)
X8_med = multi_reg_df.drop(['X2','X3','X4','X5','X6','X7','X1','Y2','Y1'],axis=1)

In [60]:
X1_med.X1[X1_med.X1.isnull()]= X1_med.X1.median()
X2_med.X2[X2_med.X2.isnull()]= X2_med.X2.median()
X3_med.X3[X3_med.X3.isnull()]= X3_med.X3.median()
X4_med.X4[X4_med.X4.isnull()]= X4_med.X4.median()
X5_med.X5[X5_med.X5.isnull()]= X5_med.X5.median()
X6_med.X6[X6_med.X6.isnull()]= X6_med.X6.median()
X7_med.X7[X7_med.X7.isnull()]= X7_med.X7.median()
X8_med.X8[X8_med.X8.isnull()]= X8_med.X8.median()

In [61]:
from sklearn.metrics import r2_score
df1 = pd.read_excel('ENB2012_data.xlsx')
print(r2_score(df1.X1,X1_med))
print(r2_score(df1.X2,X2_med))
print(r2_score(df1.X3,X3_med))
print(r2_score(df1.X4,X4_med))
print(r2_score(df1.X5,X5_med))
print(r2_score(df1.X6,X6_med))
print(r2_score(df1.X7,X7_med))
print(r2_score(df1.X8,X8_med))

0.9005111553042073
0.9071073157611619
0.90625
0.7888107416879795
0.796875
0.8614583333333333
0.8943985307621671
0.8899728997289973

# imputation by using mode

In [100]:
X1_mod = multi_reg_df.drop(['X2','X3','X4','X5','X6','X7','X8','Y2','Y1'],axis=1)
X2_mod = multi_reg_df.drop(['X1','X3','X4','X5','X6','X7','X8','Y2','Y1'],axis=1)
X3_mod = multi_reg_df.drop(['X2','X1','X4','X5','X6','X7','X8','Y2','Y1'],axis=1)
X4_mod = multi_reg_df.drop(['X2','X3','X1','X5','X6','X7','X8','Y2','Y1'],axis=1)
X5_mod = multi_reg_df.drop(['X2','X3','X4','X1','X6','X7','X8','Y2','Y1'],axis=1)
X6_mod = multi_reg_df.drop(['X2','X3','X4','X5','X1','X7','X8','Y2','Y1'],axis=1)
X7_mod1 = multi_reg_df.drop(['X2','X3','X4','X5','X6','X1','X8','Y2','Y1'],axis=1)
X7_mod2 = multi_reg_df.drop(['X2','X3','X4','X5','X6','X1','X8','Y2','Y1'],axis=1)
X8_mod = multi_reg_df.drop(['X2','X3','X4','X5','X6','X7','X1','Y2','Y1'],axis=1)

In [101]:
print(X1_mod.X1.mode())
print(X2_mod.X2.mode())
print(X3_mod.X3.mode())
print(X4_mod.X4.mode())
print(X5_mod.X5.mode())
print(X6_mod.X6.mode())
print(X7_mod1.X7.mode())
print(X8_mod.X8.mode())

0    0.74
dtype: float64
0    514.5
dtype: float64
0    318.5
dtype: float64
0    220.5
dtype: float64
0    7.0
dtype: float64
0    2.0
dtype: float64
0    0.25
1    0.40
dtype: float64
0    2.0
dtype: float64

In [102]:
X1_mod.X1[X1_mod.X1.isnull()]= 0.74
X2_mod.X2[X2_mod.X2.isnull()]= 514.5
X3_mod.X3[X3_mod.X3.isnull()]= 318.5
X4_mod.X4[X4_mod.X4.isnull()]= 220.5
X5_mod.X5[X5_mod.X5.isnull()]= 7.0
X6_mod.X6[X6_mod.X6.isnull()]= 2.0
X7_mod1.X7[X7_mod1.X7.isnull()]= 0.25
X7_mod2.X7[X7_mod2.X7.isnull()]= 0.4
X8_mod.X8[X8_mod.X8.isnull()]= 2.0

In [103]:
print(r2_score(df1.X1,X1_mod))
print(r2_score(df1.X2,X2_mod))
print(r2_score(df1.X3,X3_mod))
print(r2_score(df1.X4,X4_mod))
print(r2_score(df1.X5,X5_mod))
print(r2_score(df1.X6,X6_mod))
print(r2_score(df1.X7,X7_mod1))
print(r2_score(df1.X7,X7_mod2))
print(r2_score(df1.X8,X8_mod))

0.8992526878379218
0.6268154922001076
0.90625
0.7888107416879795
0.796875
0.6625
0.8943985307621671
0.719742883379247
0.8601626016260162

In [111]:
from sklearn.preprocessing import Normalizer
from sklearn.decomposition import PCA
df_ori = pd.read_excel("ENB2012_data.xlsx")
Y1 = df_ori.iloc[:,8].values  # Y1 is heating load
Y2 = df_ori.iloc[:,9].values  # Y2 is cooling load
X = df_ori.iloc[:,[0,1, 2, 3, 4, 5, 6, 7]].values
pca = PCA(n_components=1)
normalizer = Normalizer(copy=False)
X_norm = normalizer.fit_transform(X)
X_reduced = pca.fit_transform(X_norm)
print(pca.components_)# it gives individual component along that pca
print(pca.explained_variance_)# it gives total variance explained along the pca

[[ 2.09513222e-03 -2.53660009e-01  8.07951040e-01 -5.30805524e-01
   3.29645632e-02  3.98098345e-03  2.66529721e-04  3.20007976e-03]]
[0.00593686]